# Therms
eula.txt

# Log file
*.log
logs

# Server configs
banned-ips.json
banned-players.json
ops.json
permissions.yml
usercache.json
whitelist.json

# Worlds
jenniWorldOnline*

# Package Files #
bundler

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Plugins data
plugins/bStats
plugins/LoginSecurity/database*
plugins/LoginSecurity/*.db*
plugins/LuckPerms/libs
plugins/LuckPerms/translations
plugins/LuckPerms/*.mv.*
plugins/MobArena/inventories
plugins/MobArena/items
